*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
}

body {
  padding: 0;
  margin: 0;
  background-color: #F9F9FA;
  display: grid;
  grid-template-rows: 100px 420px 100px 1fr;
  grid-template-areas: 
    "header"
    "input"
    "quality"
    "ideabox"
    "showmore";
}

header {
  grid-area: header;
  background-color: #342A31;
  padding: 10px;
}

h1 {
  color: #afa5cd;
  font-size: 3em;
  display: inline-block;
  margin-top: 10px;
}

h2 {
  margin: 20px;
  color: #6E646B;
  font-size: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 756px;
  white-space: nowrap;
}

p {
  margin: 20px;
  color: #7C7879;
  font-size: 1.5em;
}

img {
  width: 35px;
  vertical-align: middle;
}

label {
  font-size: 2em;
  color: #7C7879;
}

form {
  margin: 20px auto;
  width: 810px;
}

form input {
  font-size: 1em;
  width: 100%;
  height: 40px;
  display: block;
  border: 2px solid #D6D3DA;
  border-radius: 5px;
}

form button {
  color: #FFFFFF;
  font-size: 2em;
  background-color: #5F5B6C;
  width: 100%;
  margin: 30px 0px;
  border-radius: 5px;
}

textarea {
  font-size: 0.8em;
  width: 100%;
  height: 100px;
  display: block;
  border: 2px solid #D6D3DA;
  border-radius: 5px; 
}

form button:disabled,
.show-buttons:disabled {
  background-color: #BECFCD;
}

form button:hover:enabled,
.show-buttons:hover:enabled,
.filter-button:hover {
  background-color: #342A31;
}

.second-h1 {
  color: #FFFFFF;
}

.search {
  width: 400px;
  height: 40px;
  display: flex;
  float: right;
  margin: 20px;
}

.search-input {
  display: inline-block;
  font-size: 2em;
  border: 2px solid #D6D3DA;
  border-radius: 5px 0px 0px 5px;
}

.search-svg {
  display: inline-block;
  border-radius: 0px 5px 5px 0px;
  background-color: #D6D3DA;
}

.input-section {
  grid-area: input;
  background-color: #ECF2F2;
}

.idea-inputs{
  margin-top: 10px;
}

.idea-box-section {
  grid-area: ideabox;
  display: flex;
  flex-direction: column;
}

.idea-box {
  border: 2px solid #D6D3DA;
  border-radius: 5px;
  width: 800px;
  margin: 20px auto;
}

.quality {
  font-weight: bold;
  display: inline;
}

.arrows {
  margin: 5px 10px 5px auto;
}

.delete {
  float: right;
  margin: 5px 10px 5px auto;
}

.idea-box-bottom {
  border-top: 2px solid #D6D3DA;
  height: 40px;
  padding: 5px 10px;
}

.filter-by-quality{
  grid-area: quality;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0px auto;
}
.show-more-section{
  grid-area: showmore;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-button,
.show-buttons {
  color: #FFFFFF;
  font-size: 1.5em;
  background-color: #5F5B6C;
  margin: 10px;
  padding: 10px;
  height: 50px;
  border-radius: 5px;
}

.number-display {
  font-size: 20px;
  margin: 0px;
  margin-right: 10PX;
  float: right;
}

.show-button-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.show-buttons {
  display: inline;
  width: 150px;
}

@media screen and (max-width: 1012.5px) {

  body {
    grid-template-rows: 100px 420px 100px 1fr;
  }

  h2 {
    width: 80%;
  }

  form {
    width: 80%;
  }

  .idea-box {
    width: 80%
  }

}

@media screen and (max-width: 870px) {
  body {
    grid-template-rows: 100px 420px 120px 1fr;
}

@media screen and (max-width: 780px) {
  body {
    grid-template-rows: 175px 420px 120px 1fr;
  }

  header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  h1 {
    margin-bottom: 0px;
  }

  .search-input {
    width: 270px;
  }

  .search {
    width: 318.80px;
    height: 40px;
    margin: 0 80px;
  }

}

@media screen and (max-width: 420px) {
  .quality {
    font-size: 1em;
  }
}